<!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div >
                <a class="navbar-brand" href="{% url 'student:login_success' %}">E-Learn</a>
            </div>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="collapse navbar-nav navbar-collapse" id="navbarContent">

                <li class="nav-item"><a class="nav-link">{{ student_data.username|capfirst }}</a></li>
                <li class="nav-item"><a href="{% url 'student:view_new_batches' %}" class="nav-link">New Batch</a></li>
                <li class="nav-item"><a href="{% url 'student:enrolled_batches' %}" class="nav-link">View Enrolled Batch</a></li>
                <li class="nav-item"><a class="nav-link">Courses Available</a></li>
                <li class="nav-item"><a href="{% url 'student:logout' %}" class="nav-link">Logout</a></li>

            </ul>
        </nav>