{% extends 'base.html' %}
{% load static %}

<!--Page Title Here-->
{% block title %}E-Learn-Home{% endblock title %}

<!--Page Body Start Here-->
{% block body %}

    {% include 'navbar.html' %}
    <div class="container-fluid">
            <div class="row text-center">
                <div class="offset-2 col-8">
                    <h1>Welcome To E-Learn</h1>
                    <img src="{% static 'images/E-learn.png' %}" class="w-100">
                </div>
            </div>
    </div>


{% endblock body %}
<!--Page Body End Here-->