<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <title>{% block title %}admin{% endblock title %}</title>

    <!--Embeded Style-->
    {% block style %}
        <style></style>
    {% endblock style %}


  </head>
  <body>
    <h1 class="text-center bg-info text-white">E-Learn</h1>
    {% block body %}

    {% endblock body %}



    <div class="footer">
        <i>&copy;Copyrights | 2020 | By Kisan Kumar Behera</i>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>